 body {
	background: #ededed;
}

#topbar { 
    background: #ffffff; 
} 

button#toggleVisibility { 
    background:none; 
    border: none; 
    outline: none; 
    position: absolute; 
    top: .6em; right: 0; 
    padding: 0; 
    color: #bbbbbb; 
}